<!DOCTYPE html>
<html lang="en">
{% include "header_main.html" %}
<body>


    <!-- ##### About Area Start ###### -->
    <section class="about-area section-padding-100-0">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="about-content mb-100">
                        <!-- Section Heading -->
                        <div class="section-heading">
                            <div class="line"></div>

                            <h2>About our company</h2>
                            <p>Our company is built on the foundations of security. Being a banking application, it has to be as secure as possible, which if not followed can lead to the loss of private user data</p>
                            <p>We use an innovative new system called keystroke dynamics.
                            This includes taking in the typing patterns from a particular client, analyzing them and finding a pattern. Then the computer can always identify if the same client is typing or an intruder into the account is typing.</p>
                        </div>
                        <h6 class="mb-4"></h6>
                        <p class="mb-0"></p>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ##### About Area End ###### -->


    <!-- ##### Team Member Area Start ##### -->
    <section class="team-area section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Heading -->
                    <div class="section-heading text-center mb-100">
                        <div class="line"></div>
                        <p>Take look at our</p>
                        <h2>Our team</h2>
                    </div>
                </div>
            </div>

            <div class="row">

                <!-- Single Team Member Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member-area mb-100">
                        <div class="team-thumb">
                            <img src="../static/img/bg-img/15.jpg" alt="">
                            <!-- View More -->

                        </div>
                        <div class="team-info">
                            <h5>GV Harsha</h5>
                            <h6>Lead Dev</h6>
                        </div>
                    </div>
                </div>

                <!-- Single Team Member Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member-area mb-100">
                        <div class="team-thumb">
                            <img src="../static/img/bg-img/15.jpg" alt="">
                            <!-- View More -->

                        </div>
                        <div class="team-info">
                            <h5>Saksham Saini</h5>
                            <h6>Lead Dev</h6>
                        </div>
                    </div>
                </div>

                <!-- Single Team Member Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member-area mb-100">
                        <div class="team-thumb">
                            <img src="../static/img/bg-img/15.jpg" alt="">
                            <!-- View More -->

                        </div>
                        <div class="team-info">
                            <h5>Christeen T Jose</h5>
                            <h6>Lead Dev</h6>
                        </div>
                    </div>
                </div>

                <!-- Single Team Member Area -->
                <div class="col-12 col-sm-6 col-lg-3">
                    <div class="single-team-member-area mb-100">
                        <div class="team-thumb">
                            <img src="../static/img/bg-img/15.jpg" alt="">
                            <!-- View More -->

                        </div>
                        <div class="team-info">
                            <h5>Vaibhav Bhandari</h5>
                            <h6>Lead Dev</h6>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- ##### Team Member Area End ##### -->

    <!-- Copywrite Area -->
    <div class="copywrite-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="copywrite-content d-flex flex-wrap justify-content-between align-items-center">
                        <!-- Footer Logo -->
                        <!-- Contact -->
                        <div class="contact">
                            <a href="{{'/home'}}"> Protected by Insuricare</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="../static/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="../static/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../static/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="../static/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="../static/js/active.js"></script>
</body>

</html>